body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  display: flex;
  gap: 3em;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  
  background-color: aqua;


}

.bot-army-card{
  background-color: brown;
  /* flex-basis: 300px; */
  display: flex;
  gap: 0.5em;
  flex-basis: 30%;
  grid-template-columns: auto auto auto ;
}

.bot-card {
  flex-basis: 30%;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: cadetblue;
  
}

.ui.grid > .row.bot-army-row {
  /* flex-wrap: nowrap; */
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

/* display {
  display: inline;
  padding: 20px;
} */

.bot-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}


.bot-info {
  text-align: center;
  
}

.bot-actions {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.row {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto ;
  gap: 0.5em;
  margin-top: 200px;
}

.icons {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}